.button__contact {
    grid-row: content-s/content-e;
    grid-column: button-s/button-e;
    justify-self: center;
    align-self: end;
    z-index: 10;
    width: 75px;
    height: 75px;
    font-size: 24px;
    font-family: 'Nanum Pen Script', cursive;
    border-radius: 100px;
    background-color: rgba(#800000, .7);
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 5px;
    color: #ffcc00;

    transition: all .05s ease;
    
    
}

.button__contact:hover {
    transform: translateY(-1px);
    cursor: pointer;
}

.button__contact:Active {
    transform: translateY(1px);
    outline: none;
    border: none;
}

.button__contact:focus {
    outline: 0;
}