
html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Nanum Pen Script', cursive;
    color: #800000;
    background: url('https://imgnooz.com/sites/default/files/wallpaper/nature/62479/yellow-autumn-wallpapers-62479-8386121.jpg');
    
}

@import 'layout';
@import 'headernavbar';
@import 'auth/signin';
@import 'auth/signup';
@import 'page-title';
@import 'contact';
@import 'form-fields';
@import 'details';
@import 'button';
@import 'experience';
@import 'about';
@import 'welcome';
@import 'quote';
@import 'portfolio/project';
@import 'goals';