.welcome-shell {
    display: grid;
    grid-template-rows: [s welcome-s] 300px [quote-s] 30px [quote-e] 300px [welcome-e e];
    grid-template-columns: [s welcome-s quote-s] 1fr [welcome-e] 1000px [quote-e];
    transform: translateY(-40px);

    &__quote-shell {
        grid-row: quote-s/welcome-e;
        grid-column: quote-s/quote-e;
        z-index: -10;
        justify-self: center;
    }
}

.welcome {

    grid-row: welcome-s/welcome-e;
    grid-column: welcome-s/welcome-e;

    animation: 1s ease-out 0s 1 slideInFromLeft;
    @keyframes slideInFromLeft {
        0% {
          transform: translateX(-50%);
        }
        100% {
          transform: translateX(0);
        }
      }

    background-color: rgba(#001a00, .8);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    color: white;
    width: 350px;
    z-index: 5;


    display: grid;
    grid-template-rows: [title-s] 20px [title-e picture-s] 400px [picture-e greeting-s] 24px [greeting-e] 50px [instructions-s] 24px [instructions-e] 15px [icon-s] 30px [icon-e];
    grid-template-columns: [s] 1fr [e];

    &__title {
        grid-row: title-s/title-e;
        grid-column: s/e;
        color: white;
        margin-top: 30px;
        font-size: 48px;
        padding: 10px;
        justify-self: center;
    }
    &__greeting {
        grid-row: greeting-s/greeting-e;
        grid-column: s/e;
        font-size: 30px;
        justify-self: center;
    }

    &__instructions {
        grid-row: instructions-s/instructions-e;
        grid-column: s/e;
        font-family: 'Gruppo', cursive;
        font-size: 18px;
        justify-self: center;
        
    }
    &__arrow {
        grid-row: icon-s/icon-e;
        grid-column: s/e;
        font-size: 50px;
        weight: 10;
        justify-self: center;
    }
    &__aimee-pic {
        grid-row: picture-s/picture-e;
        grid-column: s/e;
        justify-self: center;
        align-self: center;
        transform: translateY(20px);
        border-radius: 100px;
        box-shadow: 0 2px 6px 0 rgba(0,0,1,0.5);

    }


}




.icon {
    font-size: 100px;
}

// .welcome-hidden {
//     transform: translateX(520px)
// }

.welcome__arrow:hover {
    transform: translateY(-1px);
    cursor: pointer;
}

.welcome__arrow:Active {
    transform: translateY(1px);
    outline: none;
    border: none;
}

.welcome__arrow:focus {
    outline: 0;
}

