.welcome-shell {
    display: grid;
    grid-template-rows: [s welcome-s] 200px [logo-s] 200px [logo-e quote-s] 30px [quote-e] 300px [welcome-e e];
    grid-template-columns: [s welcome-s] 1fr [welcome-e quote-s] 1000px [quote-e];

    &__quote-shell {
        grid-row: quote-s/welcome-e;
        grid-column: quote-s/quote-e;
        z-index: -10;
        justify-self: center;
    }
}

.welcome {

    grid-row: welcome-s/welcome-e;
    grid-column: welcome-s/content-s;
    transition: 1s ease;

    animation: 1s ease 0s 1 slideInFromLeft ;
    @keyframes slideInFromLeft {
        0% {
          transform: translateX(-50%);
        }
        100% {
          transform: translateX(0);
        }
      }

    background-color: rgba(#330000, .8);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    color: white;
    width: 350px;
    z-index: 5;


    display: grid;
    grid-template-rows: [title-s] 20px [title-e picture-s] 400px [picture-e greeting-s] 24px [greeting-e] 50px [instructions-s] 24px [instructions-e] 15px [icon-s] 30px [icon-e];
    grid-template-columns: [s] 1fr [e];

    &__title {
        grid-row: title-s/title-e;
        grid-column: s/e;
        color: white;
        margin-top: 30px;
        font-size: 48px;
        padding: 10px;
        justify-self: end;
    }
    &__greeting {
        grid-row: greeting-s/greeting-e;
        grid-column: s/e;
        font-size: 30px;
        justify-self: center;
    }

    &__instructions {
        grid-row: instructions-s/instructions-e;
        grid-column: s/e;
        font-size: 24px;
        justify-self: center;
        
    }
    &__arrow {
        grid-row: icon-s/icon-e;
        grid-column: s/e;
        font-size: 50px;
        weight: 10;
        justify-self: right;
    }
    &__aimee-pic {
        grid-row: picture-s/picture-e;
        grid-column: s/e;
        justify-self: center;
        align-self: center;
        transform: translateY(60px);
        border-radius: 100px;
        box-shadow: 0 2px 6px 0 rgba(0,0,1,0.5);

    }


}


.logo {
    grid-row: logo-s/logo-e;
    grid-column: quote-s/quote-e;
    font-size: 100px;
    justify-self: center;
    transform: translateX(250px);
    font-family: 'Skranji', cursive;
    // font-family: 'Love Ya Like A Sister', cursive;
    // background-color: rgba(white, .4);
    text-shadow: 2px 2px #330000;



}

.icon {
    font-size: 100px;
}

.welcome-hidden {
    transform: translateX(-320px);
    transition: 1s ease;
}

.welcome__arrow:hover {
    transform: translateY(-1px);
    cursor: pointer;
}

.welcome__arrow:Active {
    transform: translateY(1px);
    outline: none;
    border: none;
}

.welcome__arrow:focus {
    outline: 0;
}

.stick-kids {
    grid-row: quote-s/quote-e;
    grid-column: quote-s/quote-e;
}