.portfolio {
    grid-row: navbar-e/content-e;
    grid-column: content-s/content-e;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    text-decoration: none;

    display: grid;
    grid-template-rows: [s title-s] 10px [title-e project-s] 300px [project-e project-two-s] 300px [project-two-e] 100px [e];
    grid-template-columns: [s] 1fr [ecom-s] 250px [ecom-e countdown-s] 250px [countdown-e madlibs-s] 250px [madlibs-e] 1fr [e];


        & > * {
            font-size: 36px;
            text-decoration: none;
            background-color: rgba(white, .7);
            padding: 15px;
            border-radius: 10px;
            
  
        }


        .madlibs {
            grid-row: project-s/project-e;
            grid-column: madlibs-s/madlibs-e;

            &__pic {
                grid-row: project-s/project-e;
                grid-column: madlibs-s/madlibs-e;
                justify-self: center;
                align-self: center;
                border-radius: 5px;
            }

        }

        .madlibs__pic:hover {
            transform: translateY(-1px);
            cursor: pointer;
            }


        .ecommerce {
            grid-row: project-s/project-e;
            grid-column: ecom-s/ecom-e;

        }

        .countdown {
            grid-row: project-two-s/project-two-e;
            grid-column: ecom-s/ecom-e;

            &__pic {
                grid-row: project-two-s/project-two-e;
                grid-column: ecom-s/ecom-e;
                justify-self: center;
                align-self: center;
                border-radius: 5px;
            }

        }

            .countdown__pic:hover {
                transform: translateY(-1px);
                cursor: pointer;
                }

        .schedule {
            grid-row: project-s/project-e;
            grid-column: countdown-s/countdown-e;


            &__pic {
                grid-row: project-s/project-e;
                grid-column: countdown-s/countdown-e;
                justify-self: center;
                align-self: center;
                border-radius: 5px;
            }
        }

            .schedule__pic:hover {
                transform: translateY(-1px);
                cursor: pointer;
                }

        .github {
            grid-row: project-two-s/project-two-e;
            grid-column: countdown-s/countdown-e;


            &__pic {
                grid-row: project-two-s/project-two-e;
                grid-column: countdown-s/countdown-e;
                justify-self: center;
                align-self: center;
                border-radius: 5px;
            }
        }
            .github__pic:hover {
                transform: translateY(-1px);
                cursor: pointer;
                }

        .project-portfolio {
            grid-row: project-two-s/project-two-e;
            grid-column: madlibs-s/madlibs-e;

            &__pic {
                grid-row: project-two-s/project-two-e;
                grid-column: madlibs-s/madlibs-e;
                justify-self: center;
                align-self: center;
                border-radius: 5px;
            }
        }
            .project-portfolio__pic:hover {
                transform: translateY(-1px);
                cursor: pointer;
                }

}